.logoText {
    padding-left: 30px;
    align-items: center;
    display: flex;
}


.akirafirst {
    font-family: var(--font-akira-expanded), sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #9DC4D5
    
}
.akirasecond {
    font-family: var(--font-akira-expanded), sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.akirathird {
    font-family: var(--font-akira-expanded), sans-serif;
    font-size: 16px;
    font-weight: 400;
}
